<div class="logo">
  <a class="simple-text">
    Company Cockpit
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a class="nav-link" *ngIf="!menuItem.children || !(menuItem.children && menuItem.children.length)"
         [routerLink]="[menuItem.path]">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.title}}</p>
      </a>
      <a role="button" class="nav-link" href="#navExpansion" data-toggle="collapse"
         aria-expanded="true" *ngIf="menuItem.children && menuItem.children.length">
        <i class="material-icons">arrow_drop_down</i>
        <p>Material docs</p>
      </a>
      <div *ngIf="menuItem.children && menuItem.children.length" id="navExpansion" class="collapse">
        <ul class="nav">
          <li *ngFor="let menuChild of menuItem.children">
            <a class="nav-link" [routerLink]="[menuChild.path]">
              <i class="material-icons">{{menuChild.icon}}</i>
              <p>{{menuChild.title}}</p>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
