<div class="container-fluid">
  <form ngNativeValidate
        (submit)="createInvoice()">
    <div class="card">
      <div class="card-header card-header-primary row" style="padding: 5px;">
        <div class="col-10">
          <h3 class="card-title">Invoice Header</h3>
        </div>
        <div class="col-2">
          <a mat-raised-button class="btn btn-round btn-just-icon" data-toggle="collapse" href="#headerCollapse"
             role="button" style="float: right">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="collapse container-fluid" id="headerCollapse">
          <div class="row">
            <div class="col-4">
              <mat-form-field>
                <input matInput placeholder="Invoice number" type="text" name="invoiceNumber"
                       [(ngModel)]="invoice.invoiceNumber">
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field>
                <input matInput placeholder="Sell Date" type="text" name="sellDate" [(ngModel)]="invoice.sellDate">
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field>
                <input matInput placeholder="Creation Date" type="text" name="createData"
                       [(ngModel)]="invoice.creationDate">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <app-company-form
                [title]="'Seller company'"
                [mode]="'create'"
                [company]="seller"
                [owned]="true"
                [submitLabel]="'Store in DB'"
                [isSeller]="true"
                [selectCompany]="true"
              ></app-company-form>
            </div>

            <div class="col-6">
              <app-company-form
                [title]="'Buyer company'"
                [mode]="'create'"
                [company]="buyer"
                [owned]="false"
                [submitLabel]="'Store in DB'"
                [selectCompany]="true"
              ></app-company-form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header card-header-primary row" style="padding: 5px;">
        <div class="col-10">
          <h3 class="card-title">Invoice Contents</h3>
        </div>
        <div class="col-2">
          <a mat-raised-button class="btn btn-round btn-just-icon" data-toggle="collapse" href="#contentsCollapse"
             role="button" style="float: right">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="collapse container-fluid row" id="contentsCollapse">
          <div class="col-8">
            <app-table
              [title]="'Invoice Products'"
              [headers]="['Product name', 'Unit price', 'Units', 'Vat value', 'Net', 'Gross']"
            >
              <tr *ngFor="let invoiceProduct of invoiceProducts">
                <td>{{invoiceProduct?.product?.name}}</td>
                <td>{{invoiceProduct?.product?.unitPrice}}</td>
                <td>{{invoiceProduct?.units}}</td>
                <td>{{invoiceProduct?.product?.vat}}</td>
                <td>{{invoiceProduct?.product?.unitPrice * invoiceProduct?.units}}</td>
                <td>{{invoiceProduct?.product?.unitPrice * invoiceProduct?.units * (1 + invoiceProduct?.product?.vat)}}</td>
              </tr>
            </app-table>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-header card-header-warning">
                <div class="col-12">
                  <h3 class="card-title">Add product</h3>
                </div>
              </div>
              <div class="card-body container-fluid">
                <mat-form-field>
                  <input matInput placeholder="Product name" type="text" name="name" [(ngModel)]="invoiceProduct.product.name">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Unit price" type="number" name="unit price" [(ngModel)]="invoiceProduct.product.unitPrice">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Number of units" type="number" name="units" [(ngModel)]="invoiceProduct.units">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Vat percentage 0 if none" type="number" name="unit price" [(ngModel)]="invoiceProduct.product.vat">
                </mat-form-field>

                <button mat-raised-button type="button" class="btn btn-primary" (click)="addProduct()">Add Product</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header card-header-primary row" style="padding: 5px;">
        <div class="col-10">
          <h3 class="card-title">Invoice Footer</h3>
        </div>
        <div class="col-2">
          <a mat-raised-button class="btn btn-round btn-just-icon" data-toggle="collapse" href="#foooterCollapse"
             role="button" style="float: right">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="collapse container-fluid row" id="foooterCollapse">
          <div class="col-6">
            <div class="dropdown row">
              <div class="col-6">
                <button href="#" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                  select payment method
                  <b class="caret"></b>
                </button>

                <ul class="dropdown-menu">
                  <li *ngFor="let method of methods">
                    <a role="button" mat-button class="btn btn-white"
                       (click)="invoice.paymentMethod = method.name">{{method.name}}</a>
                  </li>
                </ul>
              </div>
              <div class="col-6">
                <mat-form-field>
                  <input matInput [disabled]="true" name="selectedMethod" placeholder="sellected method" [(ngModel)]="invoice.paymentMethod">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-3">
            <mat-form-field>
              <input matInput placeholder="account number" type="text"
                     disabled="{{ invoice.paymentMethod.value != 'transfer' }}" name="accountNumber"
                     [(ngModel)]="invoice.accountNumber">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <input matInput placeholder="Payment Date" name="payDate" [(ngModel)]="invoice.payDate">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <button mat-raised-button class="btn btn-primary" type="submit">Save</button>

    <!--    <p-dialog header="Select seller" [(visible)]="showSeller">-->
    <!--      <p-table [value]="sellers" class="common-table" selectionMode="single" [(selection)]="seller" [paginator]="true"-->
    <!--               [rows]="10">-->
    <!--        <ng-template pTemplate="body" let-seller>-->
    <!--          <tr [pSelectableRow]="seller">-->
    <!--            <td>{{seller.companyName}}</td>-->
    <!--          </tr>-->
    <!--        </ng-template>-->
    <!--      </p-table>-->

    <!--      <button type="button" (click)="closeSellerDialog()" pButton label="save"></button>-->
    <!--    </p-dialog>-->

    <!--    <p-dialog header="Select buyer" [(visible)]="showBuyer">-->
    <!--      <p-table [value]="buyers" class="common-table" selectionMode="single" [(selection)]="buyer" [paginator]="true"-->
    <!--               [rows]="10">-->
    <!--        <ng-template pTemplate="body" let-buyer>-->
    <!--          <tr [pSelectableRow]="buyer">-->
    <!--            <td>{{buyer.companyName}}</td>-->
    <!--          </tr>-->
    <!--        </ng-template>-->
    <!--      </p-table>-->

    <!--      <button type="button" (click)="closeBuyerDialog()" pButton label="save"></button>-->
    <!--    </p-dialog>-->
  </form>
</div>
