<div class="container-fluid">
<!--  <div class="row">-->
    <div class="col-12">
      <app-table
        [title]="'Available invoices'"
        [dataSet]="displayData"
        [headers]="['Seller', 'Buyer', 'Net', 'Gross']"
        [displayKeys]="['seller.company_name', 'buyer.company_name', 'totalNetto', 'totalBrutto']"
        [isAdd]="true"
        (addHandler)="goToAdd()">
      </app-table>
    </div>
  <!-- [actions]="actions"
  (actionHandler)="handleActionClick($event)" -->
<!--  </div>-->
</div>
<!--<div class="ui-g-12 ui-md-12 no-padding">-->
<!--    <p-toolbar>-->
<!--        <div class="ui-toolbar-group-left">-->
<!--            <button pButton type="button" label="Create invoice" icon="pi pi-plus" (click)="goToAdd()"></button>-->
<!--        </div>-->
<!--        -->
<!--        <div class="ui-toolbar-group-right">-->
<!--            <input class="no-width" type="text" name="searchInput" [(ngModel)]="searchValue" pInputText>-->
<!--            <button pButton type="button" label="Search" icon="pi pi-search" (click)='search()'></button>-->
<!--        </div>-->
<!--    </p-toolbar>-->
<!--    <p-table [value]="displayData" class="common-table" [paginator]="true" [rows]="10">-->
<!--        <ng-template pTemplate="header">-->
<!--            <tr>-->
<!--                <th>Seller</th>-->
<!--                <th>Buyer</th>-->
<!--                <th>Net</th>-->
<!--                <th>Gross</th>-->
<!--                <th>Actions</th>-->
<!--            </tr>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="body" let-invoiceDocument>-->
<!--            <tr>-->
<!--                <td>{{invoiceDocument.seller.company_name}}</td>-->
<!--                <td>{{invoiceDocument.buyer.company_name}}</td>-->
<!--                <td>{{invoiceDocument.totalNetto}}</td>-->
<!--                <td>{{invoiceDocument.totalBrutto}}</td>-->
<!--                <td>-->
<!--                    <button pButton type="button" icon="pi pi-eye" (click)="goToDetails(invoiceDocument.id)"></button>-->
<!--                    <button pButton type="button" icon="pi pi-pencil" (click)="goToEdit(invoiceDocument.id)"></button>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </ng-template>-->
<!--    </p-table>-->
<!--</div>-->
