@import 'modules/shared/shared';

.modal-xxl {    
    width: 90%;
}

.modal-dialog {
    width: 95%;
}

.ui-g {
    height: 100%;
}

#menu {
    height: 100vh;
    padding: 0;
    background-color: #1E223D;
}

#container {
    height: 100vh;
    padding: 1.5rem;
    background-color: #222222;
    color: white;
    -webkit-app-region: no-drag;
    overflow: auto;
}
