@import 'modules/shared/shared';

.modal-xxl {    
    width: 90%;
}

.modal-dialog {
    width: 95%;
}

.ui-g {
    height: 100%;
}

#menu {
    height: 100vh;
    padding: 0;
    background-color: #1E223D;
}

#container {
    width: 100%; 
    height: 92.5vh; 
    padding: 1.5rem;
}

app-global-menu {
    height: 100vh;
}