<form ngNativeValidate
    (submit)="saveInvoice()">

    <p-panel header="Invoice data">

        <div class="ui-g">
            <div class="ui-g-4 ui-md-4 no-padd-margin">
                <div class="ui-g-12 ui-md-12 no-padd-margin">
                    <label>Invoice number</label>
                </div>
                <input type="text" name="invoiceNumber" [(ngModel)]="invoice.invoiceNumber" pInputText>
            </div>

            <div class="ui-g-4 ui-md-4 no-padd-margin">
                <div class="ui-g-12 ui-md-12 no-padd-margin">
                    <label fro="pay date">Sell Date</label>
                </div>
                <p-calendar name="payDate" [(ngModel)]="invoice.sellDate"></p-calendar>
            </div>

            <div class="ui-g-4 ui-md-4 no-padd-margin">
                <div class="ui-g-12 ui-md-12 no-padd-margin">
                    <label fro="pay date">Creation Date</label>
                </div>
                <p-calendar name="payDate" [(ngModel)]="invoice.creationDate"></p-calendar>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-6 ui-md-6">
                <p-panel [toggleable]="true">
                    <p-header>
                        <button type="button" [style]="" (click)="showSellerDialog()" pButton label="Select or enter below seller company"></button>
                    </p-header>
                    <div class="ui-g">
                        <div class="ui-g-6 ui-md-6">
                            <div class="ui-g-12 ui-md-12">
                                <label>Nip</label>
                            </div>
                            <input type="text" name="sellerNip" [(ngModel)]="seller.nip" pInputText>
                            <div class="ui-g-12 ui-md-12">
                                <label>Name</label>
                            </div>
                            <input type="text" name="sellerName" [(ngModel)]="seller.company_name" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6 no-padd-margin">
                            <div class="ui-g-12 ui-md-12 no-padd-margin">
                                <label>Address</label>
                            </div>
                            <textarea rows="5" cols="30" name="sellerAddress" [(ngModel)]="seller.address" pInputTextarea></textarea>
                        </div>
                    </div>
                </p-panel>
            </div>

            <div class="ui-g-6 ui-md-6">
                <p-panel [toggleable]="true">
                    <p-header>
                        <button type="button" [style]="" (click)="showBuyerDialog()" pButton label="Select or enter below Buyer company"></button>
                    </p-header>
                    <div class="ui-g">
                        <div class="ui-g-6 ui-md-6">
                            <div class="ui-g-12 ui-md-12">
                                <label>Nip</label>
                            </div>
                            <input type="text" name="buyerNip" [(ngModel)]="buyer.nip" pInputText>
                            <div class="ui-g-12 ui-md-12">
                                <label>Name</label>
                            </div>
                            <input type="text" name="buyerName" [(ngModel)]="buyer.company_name" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6 no-padd-margin">
                            <div class="ui-g-12 ui-md-12 no-padd-margin">
                                <label>Address</label>
                            </div>
                            <textarea rows="5" cols="30" name="buyerAddress" [(ngModel)]="buyer.address" pInputTextarea></textarea>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>

        <p-panel header="Invoice Contents" [toggleable]="true">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 no-padding">
                    <p-toolbar>
                        <div class="ui-toolbar-group-left ui-g-10 ui-md-10">
                            <div class="ui-g-3 ui-md-3 no-padd-margin">
                                <div class="ui-g-12 ui-md-12 no-padd-margin">
                                    <label>Product name</label>
                                </div>
                                <div class="ui-g-12 ui-md-12 no-padd-margin">
                                    <input type="text" name="name" [(ngModel)]="invoiceProduct.product.name" pInputText>
                                </div>
                            </div>
                            
                            <div class="ui-g-3 ui-md-3 no-padd-margin">
                                <div class="ui-g-12 ui-md-12 no-padd-margin">
                                    <label>Unit price</label>
                                </div>
                                <div class="ui-g-12 ui-md-12 no-padd-margin">
                                    <input type="number" name="unit price" [(ngModel)]="invoiceProduct.product.unitPrice" pInputText>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3 no-padd-margin">
                                <div class="ui-g-12 ui-md-12 no-padd-margin">
                                    <label>Number of units</label>
                                </div>
                                <div class="ui-g-12 ui-md-12 no-padd-margin">
                                    <input type="number" name="unit price" [(ngModel)]="invoiceProduct.units" pInputText>
                                </div>
                            </div>
                            <div class="ui-g-4 ui-md-3 no-padd-margin">
                                <div class="ui-g-12 ui-md-12 no-padd-margin">
                                    <label>Vat percentage 0 if none</label>
                                </div>
                                <div class="ui-g-12 ui-md-12 no-padd-margin">
                                    <input type="number" name="unit price" [(ngModel)]="invoiceProduct.product.vat" pInputText>
                                </div>
                            </div>
                        </div>
                        
                        <div class="ui-toolbar-group-right ui-g-2 ui-md-2">
                            <button pButton type="button" label="Add Product" icon="pi pi-plus" (click)="addProduct()"></button>
                        </div>
                    </p-toolbar>

                    <p-table [value]="invoiceProducts" class="common-table" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Product name</th>
                                <th>Unit price</th>
                                <th>Units</th>
                                <th>Vat value</th>
                                <th>Net</th>
                                <th>Gross</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-invoiceProduct>
                            <tr>
                                <td>{{invoiceProduct.product.name}}</td>
                                <td>{{invoiceProduct.product.unit_price}}</td>
                                <td>{{invoiceProduct.units}}</td>
                                <td>{{invoiceProduct.product.vat * 100}} %</td>
                                <td>{{invoiceProduct.product.unit_price * invoiceProduct.units}}</td>
                                <td>{{invoiceProduct.product.unit_price * invoiceProduct.units * (1 + invoiceProduct.product.vat)}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-panel>

        
        <p-panel header="Invoice Footer" [toggleable]="true">
            <div class="ui-g">
                <div class="ui-g-4 ui-md-4">
                    <p-dropdown [options]="methods" name="paymentMethod" [(ngModel)]="invoice.paymentMethod" placeholder="select payment method" optionLabel="name"></p-dropdown>
                </div>
                <div class="ui-g-4 ui-md-4 no-padd-margin">
                    <div class="ui-g-12 ui-md-12 no-padd-margin">
                        <label>account number</label>
                    </div>

                    <input type="text" disabled="{{ invoice.paymentMethod.value != 'transfer' }}" name="accountNumber" [(ngModel)]="invoice.accountNumber" pInputText>
                </div>
                <div class="ui-g-2 ui-md-2">
                <label fro="pay date">Payment Date</label>
                </div>
                <div class="ui-g-2 ui-md-2">
                    <p-calendar name="payDate" [(ngModel)]="invoice.payDate"></p-calendar>
                </div>
            </div>
        </p-panel>

        <button pButton type="submit" label="Save"></button>
    </p-panel>

    <p-dialog header="Select seller" [(visible)]="showSeller">
        <p-table [value]="sellers" class="common-table" selectionMode="single" [(selection)]="seller" [paginator]="true" [rows]="10">
            <ng-template pTemplate="body" let-seller>
                <tr [pSelectableRow]="seller">
                    <td>{{seller.company_name}}</td>
                </tr>
            </ng-template>
        </p-table>

        <button type="button" (click)="closeSellerDialog()" pButton label="save"></button>
    </p-dialog>

    <p-dialog header="Select buyer" [(visible)]="showBuyer">
        <p-table [value]="buyers" class="common-table" selectionMode="single" [(selection)]="buyer" [paginator]="true" [rows]="10">
            <ng-template pTemplate="body" let-buyer>
                <tr [pSelectableRow]="buyer">
                    <td>{{buyer.company_name}}</td>
                </tr>
            </ng-template>
        </p-table>

        <button type="button" (click)="closeBuyerDialog()" pButton label="save"></button>
    </p-dialog>
</form>