<div class="card">
  <div class="card-header card-header-warning row">
    <div class="col-6">
      <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="col-6">
      <button *ngIf="selectCompany && isSeller"
              type="button" class="btn btn-success btn-sm"
              style="float: right" data-toggle="modal" data-target="#sell">
        Select Company
      </button>
      <button *ngIf="selectCompany && !isSeller"
              type="button" class="btn btn-success btn-sm"
              style="float: right" data-toggle="modal" data-target="#buy">
        Select Company
      </button>

      <button *ngIf="disposable" type="button" class="btn btn-round btn-just-icon" style="float: right" (click)="closeForm()">
        <i class="material-icons">clear</i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <form ngNativeValidate (submit)="formSubmit()">

      <mat-form-field>
        <input type="text" name="nip" [(ngModel)]="company.nip" matInput placeholder="Nip">
      </mat-form-field>

      <mat-form-field>
        <input type="text" name="Name" [(ngModel)]="company.companyName" matInput placeholder="Name">
      </mat-form-field>

      <mat-form-field>
        <input type="text" name="address" [(ngModel)]="company.address" matInput placeholder="Address">
      </mat-form-field>

      <button mat-raised-button type="submit" class="btn btn-primary">{{submitLabel}}</button>
    </form>
  </div>
</div>

<div class="modal modal-angular fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <app-table
          [title]="'Available companies'"
        >
          <tr *ngFor="let company of buyers">
            <td>{{company.companyName}}</td>
          </tr>
        </app-table>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="sell" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <app-table
          [title]="'Available companies'"
        >
          <tr *ngFor="let company of sellers">
            <td>{{company.companyName}}</td>
          </tr>
        </app-table>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>
