<div class="card">
  <div class="card-header card-header-warning row">
    <div class="col-6">
      <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="col-6">
      <button *ngIf="selectCompany && isSeller && !disabled"
              type="button" class="btn btn-success btn-sm"
              style="float: right" data-toggle="modal" data-target="#sell">
        Select Company
      </button>
      <button *ngIf="selectCompany && !isSeller && !disabled"
              type="button" class="btn btn-success btn-sm"
              style="float: right" data-toggle="modal" data-target="#buy">
        Select Company
      </button>

      <button *ngIf="disposable" type="button" class="btn btn-round btn-just-icon" style="float: right" (click)="closeForm()">
        <i class="material-icons">clear</i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <form #companyForm ngNativeValidate (submit)="formSubmit()">

      <mat-form-field>
        <input [disabled]="disabled" required="true" type="text" name="nip" [(ngModel)]="company.nip" matInput placeholder="Nip">
      </mat-form-field>

      <mat-form-field>
        <input [disabled]="disabled" required="true" type="text" name="Name" [(ngModel)]="company.companyName" matInput placeholder="Name">
      </mat-form-field>

      <mat-form-field>
        <input [disabled]="disabled" required="true" type="text" name="address" [(ngModel)]="company.address" matInput placeholder="Address">
      </mat-form-field>

      <span *ngIf="required && companyForm.checkValidity() && !company.id" class="text-danger">Before saving the invoice, you need to save this company.</span>
      <button *ngIf="!disabled" style="float: right" mat-raised-button type="submit" class="btn btn-primary">{{submitLabel}}</button>
    </form>
  </div>
</div>

<div class="modal modal-angular fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <app-table
          [title]="'Available companies'"
        >
          <tr *ngFor="let company of buyers" class="row-selectable" (click)="setSellectedCompany(company, 'buy', 'buyer')">
            <td>{{company.companyName}}</td>
          </tr>
        </app-table>
        <button type="button" class="btn btn-outline-secondary" style="float: right" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="sell" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <app-table
          [title]="'Available companies'"
        >
          <tr *ngFor="let company of sellers" class="row-selectable" (click)="setSellectedCompany(company, 'sell', 'seller')">
            <td>{{company.companyName}}</td>
          </tr>
        </app-table>
        <button type="button" class="btn btn-outline-secondary" style="float: right" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>
