<div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary row" style="padding: 5px;">
        <div class="col-10">
          <h3 class="card-title">Invoice Header</h3>
        </div>
        <div class="col-2">
          <a mat-raised-button *ngIf="!collapsableData.headerCollapse" class="btn btn-round btn-just-icon" data-toggle="collapse" href="#headerCollapse"
             role="button" (click)="collapsableData.headerCollapse = !collapsableData.headerCollapse" style="float: right">
            <i class="material-icons">add</i>
          </a>
          <a mat-raised-button *ngIf="collapsableData.headerCollapse" class="btn btn-round btn-just-icon" data-toggle="collapse" href="#headerCollapse"
             role="button" (click)="collapsableData.headerCollapse = !collapsableData.headerCollapse" style="float: right">
            <i class="material-icons">remove</i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="collapse show container-fluid" id="headerCollapse">
          <div class="row">
            <div class="col-4">
              <mat-form-field>
                <input disabled="true" matInput placeholder="Invoice number" type="text" name="invoiceNumber"
                       [(ngModel)]="invoice.invoiceNumber">
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field>
                <mat-label>Sell Date</mat-label>
                <input disabled="true" matInput [matDatepicker]="sellDatePicker" [value]="invoice.sellDate">
                <mat-datepicker-toggle matSuffix [for]="sellDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #sellDatePicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field>
                <mat-label>Creation Date</mat-label>
                <input disabled="true" matInput [matDatepicker]="creationDatePicker" [value]="invoice.creationDate">
                <mat-datepicker-toggle matSuffix [for]="creationDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #creationDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <app-company-form
                name="sellerForm"
                [title]="'Seller company'"
                [mode]="'create'"
                [company]="seller"
                [owned]="true"
                [submitLabel]="'Store in DB'"
                [isSeller]="true"
                [disabled]="true"
              ></app-company-form>
            </div>

            <div class="col-6">
              <app-company-form
                name="buyerForm"
                [disabled]="true"
                [title]="'Buyer company'"
                [mode]="'create'"
                [company]="buyer"
                [owned]="false"
                [submitLabel]="'Store in DB'"
              ></app-company-form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header card-header-primary row" style="padding: 5px;">
        <div class="col-10">
          <h3 class="card-title">Invoice Contents</h3>
        </div>
        <div class="col-2">
          <a mat-raised-button *ngIf="!collapsableData.contentsCollapse" class="btn btn-round btn-just-icon" data-toggle="collapse" href="#contentsCollapse"
             role="button" (click)="collapsableData.contentsCollapse = !collapsableData.contentsCollapse" style="float: right">
            <i class="material-icons">add</i>
          </a>
          <a mat-raised-button *ngIf="collapsableData.contentsCollapse" class="btn btn-round btn-just-icon" data-toggle="collapse" href="#contentsCollapse"
             role="button" (click)="collapsableData.contentsCollapse = !collapsableData.contentsCollapse" style="float: right">
            <i class="material-icons">remove</i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="collapse show container-fluid row" id="contentsCollapse">
          <div class="col-12">
            <app-table
              [title]="'Invoice Products'"
              [headers]="['Product name', 'Unit price', 'Units', 'Vat value', 'Net', 'Gross']"
            >
              <tr *ngFor="let invoiceProduct of invoiceProducts">
                <td>{{invoiceProduct?.product?.name}}</td>
                <td>{{invoiceProduct?.product?.unitPrice}}</td>
                <td>{{invoiceProduct?.units}}</td>
                <td>{{invoiceProduct?.product?.vat}}</td>
                <td>{{invoiceProduct?.product?.unitPrice * invoiceProduct?.units}}</td>
                <td>{{invoiceProduct?.product?.unitPrice * invoiceProduct?.units * (1 + invoiceProduct?.product?.vat)}}</td>
              </tr>
            </app-table>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header card-header-primary row" style="padding: 5px;">
        <div class="col-10">
          <h3 class="card-title">Invoice Footer</h3>
        </div>
        <div class="col-2">
          <a mat-raised-button *ngIf="!collapsableData.foooterCollapse" class="btn btn-round btn-just-icon" data-toggle="collapse" href="#foooterCollapse"
             role="button" (click)="collapsableData.foooterCollapse = !collapsableData.foooterCollapse" style="float: right">
            <i class="material-icons">add</i>
          </a>
          <a mat-raised-button *ngIf="collapsableData.foooterCollapse" class="btn btn-round btn-just-icon" data-toggle="collapse" href="#foooterCollapse"
             role="button" (click)="collapsableData.foooterCollapse = !collapsableData.foooterCollapse" style="float: right">
            <i class="material-icons">remove</i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="collapse show container-fluid row" id="foooterCollapse">
          <div class="col-6">
            <div class="dropdown row">
              <div class="col-6">
              </div>
              <div class="col-6">
                <mat-form-field>
                  <input matInput disabled="true" name="selectedMethod" placeholder="sellected method" [(ngModel)]="invoice.paymentMethod">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-3">
            <mat-form-field>
              <input disabled="true" matInput placeholder="account number" type="text"
                     disabled="{{ invoice.paymentMethod != 'Transfer' }}" name="accountNumber"
                     [(ngModel)]="invoice.accountNumber">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-label>Payment Date</mat-label>
              <input disabled="true" matInput [matDatepicker]="PaymentDatePicker" [value]="invoice.payDate">
              <mat-datepicker-toggle matSuffix [for]="PaymentDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #PaymentDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  <button type="button" (click)="generatePdf()" mat-raised-button class="btn btn-primary">Pdf</button>
</div>


<!--<p-panel header="Invoice data">-->

<!--    <div class="ui-g">-->
<!--        <div class="ui-g-4 ui-md-4 no-padd-margin">-->
<!--            <div class="ui-g-12 ui-md-12 no-padd-margin">-->
<!--                <label>Invoice number</label>-->
<!--            </div>-->
<!--            <input type="text" disabled="true" name="invoiceNumber" [(ngModel)]="invoice.invoiceNumber" pInputText>-->
<!--        </div>-->

<!--        <div class="ui-g-4 ui-md-4 no-padd-margin">-->
<!--            <div class="ui-g-12 ui-md-12 no-padd-margin">-->
<!--                <label>Sell Date</label>-->
<!--            </div>-->
<!--            <p-calendar name="sellDate" disabled="true" [(ngModel)]="invoice.sellDate"></p-calendar>-->
<!--        </div>-->

<!--        <div class="ui-g-4 ui-md-4 no-padd-margin">-->
<!--            <div class="ui-g-12 ui-md-12 no-padd-margin">-->
<!--                <label>Creation Date</label>-->
<!--            </div>-->
<!--            <p-calendar name="sellDate" disabled="true" [(ngModel)]="invoice.creationDate"></p-calendar>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="ui-g">-->
<!--        <div class="ui-g-6 ui-md-6">-->
<!--            <p-panel [toggleable]="true">-->
<!--                <p-header>-->
<!--                    Seller company-->
<!--                </p-header>-->
<!--                <div class="ui-g">-->
<!--                    <div class="ui-g-6 ui-md-6">-->
<!--                        <div class="ui-g-12 ui-md-12">-->
<!--                            <label>Nip</label>-->
<!--                        </div>-->
<!--                        <input type="text" disabled="true" name="sellerNip" [(ngModel)]="seller.nip" pInputText>-->
<!--                        <div class="ui-g-12 ui-md-12">-->
<!--                            <label>Name</label>-->
<!--                        </div>-->
<!--                        <input type="text" disabled="true" name="sellerName" [(ngModel)]="seller.company_name" pInputText>-->
<!--                    </div>-->
<!--                    <div class="ui-g-6 ui-md-6 no-padd-margin">-->
<!--                        <div class="ui-g-12 ui-md-12 no-padd-margin">-->
<!--                            <label>Address</label>-->
<!--                        </div>-->
<!--                        <textarea disabled="true" rows="5" cols="30" name="sellerAddress" [(ngModel)]="seller.address" pInputTextarea></textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </p-panel>-->
<!--        </div>-->

<!--        <div class="ui-g-6 ui-md-6">-->
<!--            <p-panel [toggleable]="true">-->
<!--                <p-header>-->
<!--                    Buyer company-->
<!--                </p-header>-->
<!--                <div class="ui-g">-->
<!--                    <div class="ui-g-6 ui-md-6">-->
<!--                        <div class="ui-g-12 ui-md-12">-->
<!--                            <label>Nip</label>-->
<!--                        </div>-->
<!--                        <input type="text" disabled="true" name="buyerNip" [(ngModel)]="buyer.nip" pInputText>-->
<!--                        <div class="ui-g-12 ui-md-12">-->
<!--                            <label>Name</label>-->
<!--                        </div>-->
<!--                        <input disabled="true" type="text" name="buyerName" [(ngModel)]="buyer.company_name" pInputText>-->
<!--                    </div>-->
<!--                    <div class="ui-g-6 ui-md-6 no-padd-margin">-->
<!--                        <div class="ui-g-12 ui-md-12 no-padd-margin">-->
<!--                            <label>Address</label>-->
<!--                        </div>-->
<!--                        <textarea disabled="true" rows="5" cols="30" name="buyerAddress" [(ngModel)]="buyer.address" pInputTextarea></textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </p-panel>-->
<!--        </div>-->
<!--    </div>-->

<!--    <p-panel header="Invoice Contents" [toggleable]="true">-->
<!--        <div class="ui-g">-->
<!--            <div class="ui-g-12 ui-md-12 no-padding">-->
<!--                <p-table [value]="invoiceProducts" class="common-table" [paginator]="true" [rows]="10">-->
<!--                    <ng-template pTemplate="header">-->
<!--                        <tr>-->
<!--                            <th>Product name</th>-->
<!--                            <th>Unit price</th>-->
<!--                            <th>Units</th>-->
<!--                            <th>Vat value</th>-->
<!--                            <th>Net</th>-->
<!--                            <th>Gross</th>-->
<!--                        </tr>-->
<!--                    </ng-template>-->
<!--                    <ng-template pTemplate="body" let-invoiceProduct>-->
<!--                        <tr>-->
<!--                            <td>{{invoiceProduct.product.name}}</td>-->
<!--                            <td>{{invoiceProduct.product.unit_price}}</td>-->
<!--                            <td>{{invoiceProduct.units}}</td>-->
<!--                            <td>{{invoiceProduct.product.vat * 100}} %</td>-->
<!--                            <td>{{invoiceProduct.product.unit_price * invoiceProduct.units}}</td>-->
<!--                            <td>{{invoiceProduct.product.unit_price * invoiceProduct.units * (1 + invoiceProduct.product.vat)}}</td>-->
<!--                        </tr>-->
<!--                    </ng-template>-->
<!--                </p-table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </p-panel>-->


<!--    <p-panel header="Invoice Footer" [toggleable]="true">-->
<!--        <div class="ui-g">-->
<!--            <div class="ui-g-4 ui-md-4">-->
<!--                <p-dropdown disabled="true" [options]="methods" name="paymentMethod" [(ngModel)]="invoice.paymentMethod" placeholder="select payment method" optionLabel="name"></p-dropdown>-->
<!--            </div>-->
<!--            <div class="ui-g-4 ui-md-4 no-padd-margin">-->
<!--                <div class="ui-g-12 ui-md-12 no-padd-margin">-->
<!--                    <label>account number</label>-->
<!--                </div>-->

<!--                <input disabled="true" type="text" disabled="{{ invoice.paymentMethod.value != 'transfer' }}" name="accountNumber" [(ngModel)]="invoice.accountNumber" pInputText>-->
<!--            </div>-->
<!--            <div class="ui-g-2 ui-md-2">-->
<!--            <label fro="pay date">Payment Date</label>-->
<!--            </div>-->
<!--            <div class="ui-g-2 ui-md-2">-->
<!--                <p-calendar disabled="true" name="payDate" [(ngModel)]="invoice.payDate"></p-calendar>-->
<!--            </div>-->
<!--        </div>-->
<!--        <button type="button" (click)="generatePdf()" pButton label="get invoice document"></button>-->
<!--    </p-panel>-->
<!--</p-panel>-->
