/* You can add global styles to this file, and also import other style files */

html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;
    border-radius: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-app-region: drag;
}

button {
    background-color: #1E223D !important;
}

body .ui-toolbar {
    height: 8vh; 
    background-color: rgba(33,33,33,0.7); 
    border: unset;
    border-radius: unset;
}

body .ui-toolbar button {
    -webkit-app-region: no-drag;
    margin: 0 .3rem;
}

body .ui-panelmenu {
    -webkit-app-region: no-drag;
}

body .ui-panelmenu .ui-panelmenu-content {
    background-color: #2D3356;
    border: unset;
    -webkit-app-region: no-drag;
}

body .ui-panelmenu .ui-panelmenu-header > a {
    border: unset;
    outline: unset;
    background-color: #2D3356;
    position: relative;
}

body .ui-panelmenu .ui-panelmenu-content,
body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:focus,
body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a  {
    background-color: #1E223D;
    border: unset !important;
}

body .ui-panelmenu .ui-panelmenu-panel {
    margin: 0;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:hover,
body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link:hover {
    background-color: #2D3356;
}

body .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active) .ui-panelmenu-icon,
body .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active) > a:hover .ui-panelmenu-icon,
body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link:hover .ui-menuitem-text,
body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link:hover .ui-menuitem-icon {
    color: white;
}

body .ui-panelmenu .ui-menuitem-icon {
    padding: .33rem;
    background-color: #1E223D;
    color: white;
    border-radius: 50%;
    width: unset;
    height: unset;
    margin-right: 1rem;
}

body .ui-panelmenu .ui-menuitem-text {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: .05rem;
}

body .ui-panelmenu .pi-chevron-right ,
body .ui-panelmenu .pi-chevron-down  {
    right: 1rem;
    position: absolute;
}

body .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active) > a:hover {
    outline: unset;
    border: unset;
    background-color: #1E223D;
    color: unset;
}

body app-global-header .ui-button:enabled:focus {
    outline: unset!important;
    box-shadow: unset!important;
}

body .ui-dialog .ui-dialog-titlebar {
    background-color: #636363; 
    color: white;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
    color: white !important;
}

body .ui-dialog .ui-dialog-content {
    background-color: #222222;
    color: white !important;
    width: 350px;
    height: 40vh;
}

body .ui-paginator {
    background-color: #222222 !important;
    color: white !important;
    border: unset !important;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #2d3356;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page:not(.ui-state-active):hover {
    color: #333333 !important;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page {
    color: white !important;
}

#inner-container {
    width: 100%; 
    height: 100%; 
    background-color: rgb(33,33,33); 
    border-radius: .75rem;
    padding: 1rem;
}

body .ui-inputgroup .ui-inputgroup-addon {
    background-color: #222222;
    color: #FFFFFF;
}

input {
    background-color: #222222;
    color: #ffffff !important;
    width: 80%;
    /* border-left: none;
    border-top: none;
    border-right: none; */
}

input::placeholder {
    color: #FFFFFF;
}

body .ui-inputtext {
    width: 100%;
    color: #ffffff !important;
    background-color: #222222;
}

body .ui-inputtext:enabled:hover:not(.ui-state-error) {
    border-color: #636363;
}

body .ui-datepicker {
    color: #ffffff !important;
    background-color: #222222;
}

body .ui-datepicker .ui-datepicker-header {
    background-color: #323131;
    color: #ffffff;
}

body .ui-datepicker table td > a, body .ui-datepicker table td > span {
    color: #ffffff;
}

body .ui-datepicker:not(.ui-state-disabled) table td a:not(.ui-state-active):not(.ui-state-highlight):hover {
    color: #333333;
}

body .ui-button {
    border-color: #FFFFFF !important;
}

body .ui-panel {
    padding-top: 5px;
    padding-bottom: 5px;
}

body .ui-panel .ui-panel-content {
    background-color: #222222 !important;
    color: #ffffff !important;
}

body .ui-panel .ui-panel-titlebar {
    background-color: #636363 !important;
    color: #ffffff !important;
}

body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
    color: #ffffff !important;
}
