@import "../../shared/shared";

#menu-header {
  -webkit-user-select: none;
}

#menu-header  {
  span {
      padding: 1vh;
      color: white;
      text-transform: uppercase;
      letter-spacing: .1rem;
  }
}

.header-button {
  border: unset !important;
}