@import "variables";

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padd-margin {
  padding: 0;
  margin: 0;
}

.align-right {
  float: right;
}

.spacing-bottom {
  padding-bottom: 15px;
}

.common-table::ng-deep th, tr, td {
  background-color: #222222 !important;
  text-align: center;
  border: none !important;
  color: #FFFFFF !important;
}

button {
  border: #FFFFFF !important;
}