<form  ngNativeValidate
    (submit)="doLogin()"
    class="login-form">
    
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 no-padd-margin">
            <label>Username</label>
        </div>
        <div class="ui-g-12 ui-md-12 no-padd-margin">
            <input type="text" name="login" [(ngModel)]="login" pInputText>
        </div>
    </div>

    <div class="ui-g" style="margin-bottom: 5px">
        <div class="ui-g-12 ui-md-12 no-padd-margin">
            <label for="float-pass">Password</label>
        </div>
        <div class="ui-g-12 ui-md-12 no-padd-margin">
            <input id="float-pass" type="password" id="float-input" name="pass" [(ngModel)]="pass" pInputText>
        </div>
    </div>

    <button pButton type="submit" label="Login"></button>
</form>
