<form  ngNativeValidate
    (submit)="doLogin()"
    class="login-form">
    
    <div class="ui-g-12 ui-md-12 no-padding">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" name="login" [(ngModel)]="login" pInputText placeholder="Username">
        </div>
    </div>

    <div class="ui-g-12 ui-md-12 no-padding">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">Password</span>
            <input type="password" name="pass" [(ngModel)]="pass" pInputText placeholder="password" id="pass" required>
        </div>
    </div>

    <button pButton type="submit" label="Login"></button>
</form>
