<div class="card card-stats">
  <div class="card-header card-header-primary">
    <h3 class="card-title">Available companies</h3>
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="text-primary">
        <th *ngFor="let header of headers">{{header}}</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataSet">
          <td *ngFor="let key of displayKeys">
            <span *ngIf="(data[key] | typeof) === 'boolean'">
              <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            </span>
            <span>{{data[key]}}</span>
          </td>
          <td>
<!--            <button pButton type="button" icon="pi pi-eye" (click)="goToDetails(data.id)"></button>-->
<!--            <button pButton type="button" icon="pi pi-pencil" (click)="goToEdit(data.id)"></button>-->
<!--            <button pButton type="button" icon="pi pi-file-o" (click)="goToInvoice(data.id)"></button>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


