<form  ngNativeValidate
    (submit)="doLogin()"
    class="login-form">

    <div class="container-fluid">
      <div class="col-4" style="horiz-align: center; margin: auto">
        <mat-form-field >
          <input matInput placeholder="Username" type="text" name="login" [(ngModel)]="login">
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="Password" type="password" name="pass" [(ngModel)]="pass">
        </mat-form-field>

        <button mat-raised-button class="btn btn-info" style="float: right;" type="submit">Login</button>
      </div>
    </div>
</form>
