<div class="container-fluid">
  <div class="row">
    <div [ngClass]="{'col-12': !showCompanyForm, 'col-8': showCompanyForm}" style="transition: 0.5s">
      <app-table
        [title]="'Available companies'"
        [dataSet]="userCompanies"
        [headers]="['Nip', 'Name', 'Address', 'Owned', 'Actions']"
        [displayKeys]="['nip', 'companyName', 'address', 'isOwnedByUser']"
        [actions]="actions"
        [isAdd]="true"
        (addHandler)="openCloseForm()"
        (actionHandler)="handleActionClick($event)">
      </app-table>
    </div>
    <div @companyForm *ngIf="showCompanyForm" class="col-4">
      <app-company-form
        [disposable]="true"
        [title]="mode + ' company'"
        (dispose)="disposeForm()"
        (updateCompanies)="loadCompanies()"
        [mode]="mode"
        [company]="selectedCompany"></app-company-form>
    </div>
  </div>
</div>

