<form ngNativeValidate
    (submit)="createInvoice()">
    
    <div class="ui-g-6 ui-md-6 no-padding">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">This is a form</span>
            <input type="text" name="login" pInputText placeholder="This is a form">
        </div>
    </div>

    <div class="ui-g-6 ui-md-6 no-padding">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">With 2 Columns for data input and viewing</span>
            <input type="password" name="pass" pInputText placeholder="With 2 Columns for data input and viewing" id="pass" required>
        </div>
    </div>
</form>